.flashcards {
    width: 30%;
    height: 70%;
    top: 10%;
    position: absolute;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 170px;
    height: 170px;
    text-align: center;
    border: solid 2px black;
    position: relative;
    border-radius: 5px;
    font-family: Arial, "Times New Roman", sans-serif;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
}

.front {
    z-index: 2;
    backface-visibility: hidden;
    background-color: #00FF80;

}

.back {
    transform: rotateY(180deg);
    z-index: 1;
    background-color: #0a79f7;
}

.card:hover {
    transform: rotateY(180deg);
}

h1 {
    text-align: center;
    font-family: Arial, serif, Times;
}

body {
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    background-size: cover;
    display: flex;
    justify-content: center;
}